 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: relative;
    background-color:#EAEAEA ;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #893168;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.nav-links {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
 margin-left: 25px;
}

.nav-links a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #893168 ;
}

.nav-links a:hover {
    color: #5E2048;
}

.hero {
    background-color: #893168;
    min-height: 100vh;
    padding: 20px 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-hero {
    color: #EAEAEA;
    max-width: 700px;
    font-size: 90px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 50px 0;
}

.hero-content {
    max-width: 750px;
}

.p1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0 0 50px 0;
    color: #EAEAEA;
}

.hero-image {
    border: 5px solid #EAEAEA;
    border-radius: 40px;
    width: 650px;
    height: 650px;
    object-fit: cover;
}

.header-hero header image {
    border: 3px solid #171717;
    border-radius: 20px;
    margin-top: 40px;
    width: 100%;
    height: 355px;
    object-fit: cover;
    display: block;
}

.Work-btn {
    background-color: #F5EDEB;
    color: #893168;
    border: none;
    font-size: 24px;
    margin-top: 50px;
    padding: 20px 30px;
    border-radius: 10px;
    cursor: pointer;
}

/*----home section -----*/

.home {
    background-color: #EAEAEA;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.header-home {
    color: #893168;
    font-size: 100px;
    margin: 50px 0 20px 0;
}

.p2 {
    color: #171717;
    font-size: 28px;
    font-weight: 500;
}

.home-service {
    color: #5E2048;
    font-size: 38px;
    margin-top: 50px;
    
}

.web-design {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    max-height: 1100px;
    margin: 40px auto 0;
}

.Service-card img {
    border: 3px solid #171717;
    border-radius: 20px;
    margin-top: 40px;
    width: 100%;
    height: 355px;
    object-fit: cover;
    display: block;
}

.page-3 {
    background-color: #893168;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    justify-content: center;
    align-items: start;
}

.Header-About {
    color: #EAEAEA;
    font-size: 72px;
    margin: 70px 50px 40px 50px;
}

.article-content {
    color: #F5EDEB;
    margin: 20px 50px;
    font-size: 24px;
    max-width: 800px;
}

.article-content::first-line {
    background-color: #F5EDEB;
    color: #893168 ;
}

.about-info {
    color: #EAEAEA;
    margin: 20px 50px;
    font-size: 16px;
}

.Services-page {
    margin: 20px 50px;
}

.Header-Services {
    font-size: 72px;
    color: #EAEAEA;
    margin: 100px 0 30px 0;
}

.Services-list {
    color: #F5EDEB;
    font-size: 44px;
    margin: 20px 50px;
    font-weight: 600;
}

.Header-Contact {
    font-size: 72px;
    color: #EAEAEA;
    margin: 70px 50px 40px 0px;
    font-variant: small-caps;
}

.p3 {
    color: #F5EDEB;
    font-size: 24px;
    margin-bottom: 40px;
}

.Contact-form {
    display: none;
}

.Contact:hover .Contact-form {
    display: block;
}

label, input, textarea {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #F5EDEB;
    outline: none;
    font-size: 24px;
    margin-bottom: 8px;
}

input, textarea {
    background-color: #171717;
    border: none;
    padding: 10px ;
    border-radius: 10px;
}

input:focus {
    background-color: #EAEAEA;
    border: 2px solid #171717;
}

textarea:focus {
    background-color: #EAEAEA;
    border: 2px solid #171717;
}

.form-submit {
    border: none;
    font-size: 20px;
    padding: 8px;
    border-radius: 5px;
}

footer {
    min-height: 300px;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.logo2 {
    color: #893168;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 50px;
}

.footer-p {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    color: gray;
}

small {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    color: gray;
}

